<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Juego Curso</name>
    <description>
        Juego creado para práctica del curso.
    </description>
    <author email="jgb@jgb.com" href="http://jgb.com">
        JGB
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
